# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.xml
misc.xml
modules.xml
profiles_settings.xml
vcs.xml
coding_test_python_ver.iml